/* Body css */
* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

.search-container {
    margin: 20px auto;
    text-align: center;
    max-width: 100%;
    position: relative;
  }

  .search-container .search-input {
    width: 40%;
    box-sizing: border-box;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #ffffff;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 14px 15px 14px 20px;
    border: 1px solid #aabcca;
    border-right: 0;
    color: #000000;
  }

  .search-container .search-btn {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #0768b3;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    color: #ffffff;
    padding: 15px 25px;
    margin-left: -4px;
    cursor: pointer;
    border: none;
    outline: none;
  }

  .search-container .search-btn:hover {
    background-color: #016034;
  }

  .card:hover {
    transform: scale(1.05);
  }

/* error message css */
.error-container {
    text-align: center;
    font-size: large;
    margin: 20px 0;
  }

/*Shimmer CSS */
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}
.shimmer-card {
  flex-basis: 250px;
  padding: 10px;
  margin-bottom: 10px;
  border-color: #d3d5df;
  box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
}
.shimmer-title {
  width: 60%;
  margin-top: 10px;
}
.shimmer-tags {
  width: 80%;
  margin-top: 4px;
}
.shimmer-details {
  width: 100%;
  margin-top: 18px;
}
.shimmer-container .shimmer-img {
  height: 144px;
  width: 230px;
}

/*Animation to Shimmer Component Cards */
.stroke {
  height: 15px;
  background: #777;
}
.animate {
  animation: shimmer 3s;
  animation-iteration-count: infinite;
  background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
  background-size: 1000px 100%;
}
@keyframes shimmer {
  from {
    background-position: -1000px 0;
  }
  to {
    background-position: 1000px 0;
  }
}

/* header css */

.logo {
    height: 75px;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 80px;
    background-color: rgb(1, 163, 144);
    border-radius: 5px;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
    color: black;
    font-weight: bold;
    
}
.nav-items{
    margin-right: 30px;
    margin-left: 0px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
}
.nav-items > ul {
    list-style-type: none;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}
.nav-items > ul > li {
    padding: 10px;
    font-size: large;
    cursor: pointer;
  }

.nav-items ul li{
    list-style: none;
    cursor: pointer;
}

.restaurant-list{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.card {
    width: 200px;
    border-radius: 5px;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 20px;
    cursor: pointer;
}


.card > img {
    width:100%;
    border-radius:5px;
}

.card > span{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card > span > h4{
    text-align: center;
}
.card > span > h4:first-child{
    display: flex;
    align-items: center;
    background-color: rgb(19, 176, 1);
    border-radius: 5px;
    padding: 0 5px 0;
    color: white;
}


/* footer */
.footer {
    text-align: center;
    background-color: #05908b;
    color: #fff;
    padding: 1rem;
}