/* Body css */
body{
    font-family: Roboto;
    margin: 0;
    /* background-color:#eee; */
    padding: 0;
}

.search-container {
    margin: 20px auto;
    text-align: center;
    max-width: 100%;
    position: relative;
  }

  .search-container .search-input {
    width: 40%;
    box-sizing: border-box;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #ffffff;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 14px 15px 14px 20px;
    border: 1px solid #aabcca;
    border-right: 0;
    color: #000000;
  }

  .search-container .search-btn {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #0768b3;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    color: #ffffff;
    padding: 15px 25px;
    margin-left: -4px;
    cursor: pointer;
    border: none;
    outline: none;
  }
  
  .search-container .search-btn:hover {
    background-color: #016034;
  }

  .card:hover {
    transform: scale(1.05);
  }

/* header css */

.logo {
    width: 50px;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    width: auto;
    background-color: rgb(1, 163, 144);
    border-radius: 5px;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
    color: black;
    font-weight: bold;
}

.nav-items ul{
    display: flex;
    gap: 2rem;
    padding: 0 10px 0;
    width: auto;
}

.nav-items ul li{
    list-style: none;
    cursor: pointer;
}

.restaurant-list{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.card {
    width: 200px;
    border-radius: 5px;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 20px;
    cursor: pointer;
}


.card > img {
    width:100%;
    border-radius:5px;
}

.card > span{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card > span > h4{
    text-align: center;
}
.card > span > h4:first-child{
    display: flex;
    align-items: center;
    background-color: rgb(19, 176, 1);
    border-radius: 5px;
    padding: 0 5px 0;
    color: white;
}


/* footer */
.footer {
    text-align: center;
    background-color: #05908b;
    color: #fff;
    padding: 1rem;
}